.Form-container{
    background-color: #ffffff;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 15px;
    padding-bottom: 40px;
    padding-top: 40px;
    text-align: left;
}

.label{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin-left: 5px;
}
.input-container{
    margin-left: 38%;
}
.Input-text{
    height: 50px;
    width: 350px;
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: #d0d1d5;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin: auto;
}
.Input-textarea{
    width: 350px;
    border-width: 1px;
    border-style: solid;
    border-color: #d0d1d5;
    padding-left: 20px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.Input-text:active{
    border-color: #d0d1d5;
}

.btn-container{
    margin-left: 38%;
}
.signup-btn{
    height: 50px;
    width: 300px;
    background-color: #043730;
    border-radius: 10px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    cursor: pointer;
}

.Error{
    color: red;
    margin-left: 5px;
}

@media screen and (min-width: 801px) and (max-width: 1200px){
    .input-container{
        margin-left: 25%;
    }
    .btn-container{
        margin-left: 25%;
    }
    .Form-container{
        margin-left: 5%;
        margin-right: 5%;
    }
    .Input-text{
        width: 300px;
    }
    .signup-btn{
        width: 300px;
    }
}

@media screen and (max-width:800px) {
    .input-container{
        margin-left: 20%;
    }
    .btn-container{
        margin-left: 20%;
    }
    .Form-container{
        margin-left: 2%;
        margin-right: 2%;
    }
    .Input-text{
        width: 200px;
    }
    .signup-btn{
        width: 200px;
    }
}