@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.unordered{
    list-style-type: none;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 40px;
}

.card-Element{
    width: 100%;
    background-color: #F3E0B5;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    overflow-x: hidden;
    text-decoration: none;
}

.product-image{
    width: 75%;
    margin-bottom: 20px;
    border-radius: 15px;
}
.product-title{
    font-family: 'Montserrat', sans-serif;
    color: #48494a;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    text-decoration: none;
}
.product-title:hover{
    color: #FFAE6D;
    text-decoration: none;
}
.product-description{
    font-family: 'Montserrat', sans-serif;
    color: rgb(154, 151, 152);
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}

.product-category{
    font-family: 'Montserrat', sans-serif;
    color: #48494a;
    cursor: pointer;
    text-decoration: none;
}
.product-category:hover{
    color: #FFAE6D;
    text-decoration: none;
}
.product-price {
    font-family: 'Montserrat', sans-serif;
    color: #48494a;
    font-weight: bold;
    text-decoration: none;
}
.product-rating{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background-color: #E38B29;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 30%;
    border-radius: 15px;
    margin: auto;
    text-decoration: none;
}
.product-adding-button{
    float: right;
    margin-right: 10px;
    background-color: blue;
    border-width: 0px;
    border-radius: 8px;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
  }

@media screen and (min-width: 1200px){
    .product-image{
        height: 40%;
    }
    
}
@media screen and (min-width: 801px) and (max-width: 1199px) {
    .unordered{
        grid-template-columns: 40% 40%;
    }
    .product-adding-button{
        float: none;
    }
    
}
@media screen and (max-width: 800px){
    .unordered{
        grid-template-columns: 80%;
    }
    .product-rating{
        width: 60%;
    }
    .product-adding-button{
        float: none;
    }
    
}