@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.product-details-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.container-1,
.container-2 {
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 20px;
}

.container-1 {
    margin-left: auto;
}

.container-2 {
    text-align: left;
    padding-top: 1%;
    padding-right: 20%;
    padding-left: 20px;
}

.description-image {
    height: 500px;
    width: 500px;
    margin-bottom: 50px;
    margin-left: auto;
    border-radius: 15px;
}

.cart-btn {
    color: #fff;
    background-color: #ff9f00;
    border-width: 0px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 15px;
    border-radius: 5px;
}

.buy-btn {
    color: #fff;
    background-color: #fb641b;
    border-width: 0px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
}

.title-description {
    font-size: 25px;
}

.rating-description {
    background-color: #FFAE6D;
    padding: 10px;
    width: 100px;
    color: #fff;
    border-radius: 5px;
}

.pricing-description {
    font-size: 30px;
}

.category-description {
    cursor: pointer;
}

.category-description:hover {
    color: #ff9f00;
}

.description-about-product {
    color: #61481C;
    font-size: 20px;
}

.availablity {
    color: #EB4747;
}

@media screen and (max-width: 1200px) {
    .product-details-container {
        grid-template-columns: 100%;
    }

    .container-1 {
        margin: auto;
    }

    .container-2 {
        text-align: center;
        padding-top: 1%;
        padding-right: 20px;
        padding-left: 20px;
    }
    .rating-description {
        margin: auto;
    }
    .description-image {
        height: 300px;
        width: 300px;
        margin-bottom: 30px;
    }
}